/*Added :root to globally change the colors with var(--color) values.*/
:root {
    --blue: #0028a0;
    --chrome: #4060a0;
    --dark: #101520;
}

/*Created a universal font-family to use Courier New.
Added padding, margin, and box-sizing.*/
* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Changed the website background to dark mode.*/
body {
    background-color: var(--dark);
}

/*Made the header as a container to add a colored background.
Added a flex display, a left float value, and margins.*/
header.container {
    background-color: var(--chrome);
    color: var(--dark);
    display: flex;
    float: left;
    margin-left: -10px;
}

/*Added an h1 class to add flexbox margin properties.
Added padding and border values to make the colors flush with the nav links.
Updated the border-width.*/
h1.name {
    padding: 10px;
    padding-left: 50px;
    border-style: solid;
    border-width: 12px;
    border-color: var(--dark);
    margin-top: 0px;
    margin-left: -10px;
    margin-bottom: -10px;
}

/*Made the nav tag as a container to add a colored background.
Added a text color.
Added a flex display and justify content.
Added a border.*/
nav.container {
    background-color: var(--dark);
    color: var(--blue);
    display: flex;
    justify-content: right;
    border-style: solid;
    border-width: 10px;
    border-color: var(--dark);
}

/*Added an inline-flex display, margin, font-size/weight, and list-style.
Added color and tweaked the margin values.
Added a bottom border for the nav links.
Added display, flex, and justify values for mobile.*/
nav ul li {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 16px 75px 20px 0px;
    font-size: 125%;
    font-weight: bold;
    list-style-type: none;
    color: var(--chrome);
    border-bottom: thick solid var(--chrome);
}

/*Added a: pseudo classes to change the nav link text colors.*/
a:link {
    text-decoration: none;
    color: var(--chrome);
}

a:hover {
    text-decoration: underline;
    -moz-text-decoration-style: solid;
}

a:visited {
    text-decoration: none;
    color: var(--chrome);
}

/*Resized the profile image.
Added border values.
Added image link, background image/size/position.
Added background.jpg which is downloaded from https://wallpaperset.com/w/full/d/f/f/54933.jpg
Changed .avatar to .background.
Set margin-bottom to 50px.*/
.background {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    height: 200px;
    width: 100%;
}

/*Added inline-flex to display and margin-left.
Added text-align and 2 more headers.*/
.header-1 {
    display: inline-flex;
    margin-left: 200px;
    text-align: end;
    color: var(--chrome);
}

.header-2 {
    display: inline-flex;
    margin-left: 214px;
    text-align: end;
    color: var(--chrome);
}

.header-3 {
    display: inline-flex;
    margin-left: 120px;
    text-align: end;
    color: var(--chrome);
}

/*Added similar code from above with flex-wrap, text-align, justify content, 
and 100px from the margin to center the paragraph.
Added margins for the bottom and right.
Set margin-bottom to 50px.*/
.content {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    color: var(--chrome);
}

/*Added a vertical borderline on the right side of the headers.*/
.vertical-line {
    padding: 10px;
    border-right: thick solid var(--chrome);
}

/*Added flex-wrap, justify-content, and margin-left to mimic .content
and margin-bottom to add space between the images.
Set margin-left to 155px.
Added display, flex, and justify values in the card elements for mobile.*/
.card {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 155px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    color: var(--blue);
}

/*Added hover elements to the cards below to match the image links.*/
.card:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.prework {
    position: absolute;
    text-align: left;
    bottom: 25px;
    left: 0px;
    background-color: var(--chrome);
    border: solid thick var(--chrome);
    padding: 10px;
}

/*Created a second card to center the other two image links.
Set margin-bottom to 50px;*/
.cards {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 452px;
    margin-bottom: 50px;
}

.card-2 {
    position: relative;
    text-align: center;
    color: var(--blue);
}

.card-2:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.horiseon {
    position: absolute;
    text-align: left;
    bottom: 55px;
    left: 0px;
    background-color: var(--chrome);
    border: solid thick var(--chrome);
    padding: 5px;
}

.card-3 {
    position: relative;
    text-align: center;
    color: var(--blue);
}

.card-3:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.proj-calc {
    position: absolute;
    text-align: left;
    bottom: 55px;
    left: 8px;
    background-color: var(--chrome);
    border: solid thick var(--chrome);
    padding: 5px;
}


/*Resized the first application to 800px.
Added border values.
Set margin-bottom set to -14px.
Set max-width to 815px to align with other images.*/
img.first-app {
    max-width: 815px;
    border-style: solid;
    border-width: 8px;
    border-color: var(--chrome);
    margin-bottom: -14px;
}

/*Added hover pseudo classes for the image links.*/
img.first-app:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

/*Resized the other applications to 400px.
Added object-fit to debug image scaling.
Added margin right/bottom values.*/
img.second-app {
    width: 400px;
    height: 300px;
    object-fit: fill;
    border-style: solid;
    border-width: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}

img.second-app:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

/*Set margin-left to 15px to separate the two adjacent images.
Added margin left/bottom values.*/
img.third-app {
    width: 400px;
    height: 300px;
    object-fit: fill;
    border-style: solid;
    border-width: 8px;
    border-color: var(--chrome);
    margin-left: 8px;
    margin-bottom: 16px;
}

img.third-app:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
    color: var(--chrome);
}

/*Added .links to center the nav links.
Set margin left/bottom to 265 and 50px.
Added display, flex, and justify values for mobile.*/
nav.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 265px;
    margin-bottom: 50px;
    font-weight: bold;
}

/*Added .link-1, 2; 3 and added left margins to 100px.
Added bottom borders.*/
.link-1 {
    color: var(--chrome);
    border-bottom: thick solid var(--chrome);
}

.link-2 {
    margin-left: 100px;
    border-bottom: thick solid var(--chrome);
}

.link-3 {
    margin-left: 100px;
    border-bottom: thick solid var(--chrome);
}