/*Created a universal font-family to use Courier New.*/
* {
    font-family: 'Courier New', Courier, monospace;
}

/*Made the header as a container to add a colored background.
Added a flex display, a left float value, and margins.*/
header.container {
    background-color: #4060a0;
    color: #203040;
    display: flex;
    float: left;
    margin-left: -10px;
}

/*Added an h1 class to add flexbox margin properties.
Added padding and border values to make the colors flush with the nav links.*/
h1.name {
    padding: 10px;
    padding-left: 50px;
    border-style: solid;
    border-width: 11px;
    border-color: #203040;
    margin-top: 0px;
    margin-left: -10px;
    margin-bottom: -10px;
}

/*Made the nav tag as a container to add a colored background.
Added a text color.
Added a flex display and justify content.*/
nav.container {
    background-color: #203040;
    color: #4060a0;
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

/*Added an inline-flex display, margin, font-size/weight, and list-style.*/
nav ul li {
    display: inline-flex;
    margin: 10px 75px 14px 0px;
    font-size: 125%;
    font-weight: bold;
    list-style-type: none;
}

/*Resized the profile image.
Added border values.*/
img.avatar {
    max-width: 200px; 
    max-height: 200px;
    border-style: solid;
    border-width: 8px;
    border-color: #4060a0; 
}

.header {
    margin-left: 100px;
}

.content {
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
}

/*Created a second card to center the other two image links.*/
.card-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 90px;
}

/*Resized the first application to 800px.
Added border values.*/
img.first-app {
    max-width: 800px;
    border-style: solid;
    border-width: 8px;
    border-color: #4060a0;
}

/*Resized the other applications to 400px.
Added object-fit to debug image scaling.*/
img.second-app {
    width: 400px;
    height: 300px;
    object-fit: fill;
    border-style: solid;
    border-width: 8px;
    border-color: #4060a0; 
}

img.third-app {
    width: 400px;
    height: 300px;
    object-fit: fill;
    border-style: solid;
    border-width: 8px;
    border-color: #4060a0;
}